* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

.landing-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.main-landing,
.signup-form {
  width: 50%;
  height: 100vh;
}

.main-landing {
  background-color: #f9e7d8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-wrapper {
  width: 80%;
}

#logo-img {
  width: 100%;
}

.signup-form {
  background: url('./images/babyumms-content.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mc_embed_signup label {
  font-size: 20px !important;
  color: #efc4a1;
  width: 100% !important;
}

#mc_embed_signup {
  background: #f9e7d8ec;
  clear: left;
  padding: 12px;
  width: 80%;
  margin-top: 26%;
}

#mce-EMAIL::-webkit-input-placeholder {
  font-family: 'Open Sans Condensed', sans-serif;
}

#mce-EMAIL:-ms-input-placeholder {
  font-family: 'Open Sans Condensed', sans-serif;
}

#mce-EMAIL:-moz-placeholder {
  font-family: 'Open Sans Condensed', sans-serif;
}

#mce-EMAIL::-moz-placeholder {
  font-family: 'Open Sans Condensed', sans-serif;
}

#mc-embedded-subscribe {
  background-color: #efc4a1 !important;
  font-family: 'Open Sans Condensed', sans-serif;
}

@media only screen and (max-width: 768px) {
  .main-landing {
  }

  .logo-wrapper {
    width: 100%;
  }

  .main-landing,
  .signup-form {
    width: 100%;
  }
}
